#仿真类型
vttype=vt100

#监听端口
port=3231

#伪终端设备(bsd/unix98)
# bsd: /dev/ptyp0
# unix98: /dev/ptmx
device=bsd

#需要屏号时设置为true,否则设置为false
screenNum=true

# 绑定配置文件的类型(为空表示汇金配置，star为实达配置)
maptype=

# 客户端是实达还是国光（sd/gg）
clienttype=sd

# 终端绑定配置文件，
# 如果注释掉，默认的终端绑定配置文件就是本文件
# 如果maptype为star，绑定配置文件应该设置为/etc/stelnetd.conf
ttymap=/etc/wztelnetd.cfg
#ttymap=/etc/stelnetd.conf

# 设置IP的tty号，绑定配置
# 以下示例中127.0.0.1为终端机器IP
# 如果screeNum=true，则使用屏幕号
# 以下示例中的最后一个点后面的数字或者字母为屏幕号,屏幕号可以设置为几个字母或者几个数字或者为空。
# 如果screeNum=false，则不使用屏幕号，点号后面为空：127.0.0.1.=ttyz0
# ttya0 为TTY号
127.0.0.1.    = ttyz0
#127.0.0.1.1   = ttyz1
#127.0.0.1.2   = ttyz2
#127.0.0.1.12  = ttyz3
#127.0.0.1.a   = ttyz4
#127.0.0.1.ab  = ttyz5
#127.0.0.1.abc = ttyz6

77.24.0.145.=ttyb6
77.24.0.144.=ttyb8

